.about-section{
    max-width: 900px;
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1rem;
}

.about-section h1{
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-section .about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.about-section .about-wrapper img{
    max-width: 200px;
    background-color: var(--navigation);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px var(--clr-light);
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
}

.about-section .about-wrapper p{
    font-size: 1.2rem;
    text-align: justify;
}