.about-section {
    max-width: 900px;
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1rem;
}

.about-section h1 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-section .about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

.about-section .about-wrapper img {
    max-width: 200px;
    background-color: var(--navigation);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px var(--foreground);
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
}

.about-section .about-wrapper p {
    font-size: 1.2rem;
    text-align: justify;
}

@media only screen and (max-width: 600px) {

    .about-section .about-wrapper {
        flex-wrap: wrap;
    }

    .about-section h1 {
        text-align: center;
    }

}

/* ---------FOUNDER SECTION------ */

.founder-section {
    margin-block: 3rem;
    max-width: 900px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.founder-section .founder-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.founder-section .founder-wrap img {
    width: 250px;
    height: 250px;
    background-color: var(--navigation);
    border-radius: 50%;
    position: relative;
    left: 25px;
    border: 2px solid var(--navigation);
    z-index: 9;
}

.founder-section .text-wrap {
    text-align: left;
    position: relative;
    right: 25px;
    background-color: var(--navigation);
    background: var(--gradient);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px var(--foreground);
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
}

.founder-section h2,
.founder-section p {
    margin-left: 50px;
}


@media only screen and (max-width: 650px) {

    .founder-section .founder-wrap {
        flex-direction: column;
    }

    .founder-section .founder-wrap img {
        left: unset;
        top: 25px;
    }

    .founder-section .text-wrap {
        right: unset;
        text-align: center;
    }

    .founder-section h2,
    .founder-section p {
        margin-left: unset;
    }


}

/* --------MEET THE TEAM-------- */

h2.team-head {
    text-align: center;
    font-size: 2.5rem;
}

.team-section h2 {
    text-align: center;
    font-size: 3rem;
}

.container-teacher {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.teacher {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
}

.slide {
    margin-block: 1rem;
}

.slide h3.instructor {
    font-size: 2rem;
}

.slide .slide-content {
    max-width: 900px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* column-gap: 2rem; */
}

.slide .slide-content .text-wrap {
    background-color: var(--navigation);
    padding: 1rem;
    border-radius: 1rem;
    background: var(--gradient);
    box-shadow: 1px 1px 4px var(--foreground);
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
    padding-left: 60px;
    position: relative;
    right: 40px;
}

.slide .slide-content img {
    max-width: 200px;
    margin-left: 40px;
    border-radius: 0.5rem;
    border: 2px solid var(--navigation);
    z-index: 9;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    /* transform: translateY(30px); */
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 999;
    background-color: var(--navigation);
}

.swiper-button-next {
    right: 0;
}

.nav-btn:hover {
    background-color: #ccd7c582;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: var(--secondary);
    ;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media only screen and (max-width: 650px) {

    .slide .slide-content {
        flex-direction: column;
    }

    .slide .slide-content .text-wrap {
        right: unset;
        bottom: 30px;
        padding-left: 1rem;
        padding-top: 40px;
        margin: 0.5rem;
    }

    .slide .slide-content img {
        margin-left: unset;
    }

    .slide h3.instructor {
        text-align: center;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 225px;
    }

}


/* Accordion */

.slide .contain-question {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.slide .question-wrapper {
    max-height: 3rem;
    margin-top: 0.5rem;
    overflow: hidden;
    /* background-color: var(--navigation); */
    border: 1px solid var(--navigation);
    border-radius: 0.25rem;
    transition: max-height 0.5s ease-in-out;
}

.slide p.bio {
    margin-block: 1rem;
}

.slide .question-wrapper p {
    padding: 1rem;
}

.question-wrapper.open {
    max-height: 500px;
    /* border: 1px solid var(--foreground); */
}

.slide .contain-question .toggle-button {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .contain-question .toggle-button::before,
.slide .contain-question .toggle-button::after {
    content: '';
    position: absolute;
    background: var(--foreground);
    border-radius: 0.5rem;
    width: 80%;
    height: 2px;
    transition: all 0.3s ease-in;
}

.slide .contain-question .toggle-button::before {
    transform: rotate(90deg);
}

.slide .contain-question .toggle-button::after {
    transform: rotate(0deg);
}

.slide .contain-question .toggle-button.open::before {
    transform: rotate(360deg);
}

.slide .contain-question .toggle-button.open::after {
    transform: rotate(-180deg);
}
