.hero-section{
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
}

.hero-section::before {    
    content: "";
    background-image: url(../images/studio.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.hero-section h1{
    font-size: 3rem;
    z-index: 9;
}

.hero-section .info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    z-index: 9;
}

.hero-section .info-section ul {
    list-style-position: inside;
}

.hero-section .text-wrap li{
    list-style-type: square;
    font-size: 1.2rem;
    margin-block: 0.5rem;
}

.hero-section .cta-wrap{
    text-align: center;
    padding: 1rem;
    z-index: 9;
    /* background: var(--foreground);
    color: var(--background); */
}