.contact-text {
    max-width: 360px;
    margin-inline: auto;
}

.contact-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon-text-wrap {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 0.5rem;
}

.contact-text p {
    font-size: 1.3rem;
}

.contact-text i {
    font-size: 3rem;
}

@media only screen and (max-width: 400px) {

    .contact-text p {
        font-size: 1.1rem;
    }

}


.wpforms-container .wpforms-field-container .wpforms-field-label {
    color: var(--foreground);
}

div.wpforms-container-full input[type=date],
div.wpforms-container-full input[type=datetime],
div.wpforms-container-full input[type=datetime-local],
div.wpforms-container-full input[type=email],
div.wpforms-container-full input[type=month],
div.wpforms-container-full input[type=number],
div.wpforms-container-full input[type=password],
div.wpforms-container-full input[type=range],
div.wpforms-container-full input[type=search],
div.wpforms-container-full input[type=tel],
div.wpforms-container-full input[type=text],
div.wpforms-container-full input[type=time],
div.wpforms-container-full input[type=url],
div.wpforms-container-full input[type=week],
div.wpforms-container-full select,
div.wpforms-container-full textarea {
    background-color: var(--navigation);
    color: var(--foreground);
    border: 1px solid #c9dddd;
}

.darkmode div.wpforms-container-full input[type=date],
.darkmode div.wpforms-container-full input[type=datetime],
.darkmode div.wpforms-container-full input[type=datetime-local],
.darkmode div.wpforms-container-full input[type=email],
.darkmode div.wpforms-container-full input[type=month],
.darkmode div.wpforms-container-full input[type=number],
.darkmode div.wpforms-container-full input[type=password],
.darkmode div.wpforms-container-full input[type=range],
.darkmode div.wpforms-container-full input[type=search],
.darkmode div.wpforms-container-full input[type=tel],
.darkmode div.wpforms-container-full input[type=text],
.darkmode div.wpforms-container-full input[type=time],
.darkmode div.wpforms-container-full input[type=url],
.darkmode div.wpforms-container-full input[type=week],
.darkmode div.wpforms-container-full select,
.darkmode div.wpforms-container-full textarea {
    border: 1px solid #004154;
}

div.wpforms-container-full input[type=date]:focus,
div.wpforms-container-full input[type=datetime]:focus,
div.wpforms-container-full input[type=datetime-local]:focus,
div.wpforms-container-full input[type=email]:focus,
div.wpforms-container-full input[type=month]:focus,
div.wpforms-container-full input[type=number]:focus,
div.wpforms-container-full input[type=password]:focus,
div.wpforms-container-full input[type=range]:focus,
div.wpforms-container-full input[type=search]:focus,
div.wpforms-container-full input[type=tel]:focus,
div.wpforms-container-full input[type=text]:focus,
div.wpforms-container-full input[type=time]:focus,
div.wpforms-container-full input[type=url]:focus,
div.wpforms-container-full input[type=week]:focus,
div.wpforms-container-full select:focus,
div.wpforms-container-full textarea:focus {
    border: 2px solid #004154;
    color: var(--foreground);
}

div.wpforms-container-full .wpforms-form textarea:focus {
    border: 2px solid #004154;
    color: var(--foreground);
}

div.wpforms-container-full input[type=date]:focus:invalid,
div.wpforms-container-full input[type=datetime]:focus:invalid,
div.wpforms-container-full input[type=datetime-local]:focus:invalid,
div.wpforms-container-full input[type=email]:focus:invalid,
div.wpforms-container-full input[type=month]:focus:invalid,
div.wpforms-container-full input[type=number]:focus:invalid,
div.wpforms-container-full input[type=password]:focus:invalid,
div.wpforms-container-full input[type=range]:focus:invalid,
div.wpforms-container-full input[type=search]:focus:invalid,
div.wpforms-container-full input[type=tel]:focus:invalid,
div.wpforms-container-full input[type=text]:focus:invalid,
div.wpforms-container-full input[type=time]:focus:invalid,
div.wpforms-container-full input[type=url]:focus:invalid,
div.wpforms-container-full input[type=week]:focus:invalid,
div.wpforms-container-full select:focus:invalid,
div.wpforms-container-full textarea:focus:invalid {
    border: 2px solid #004154;
    color: var(--foreground);
}

.wpforms-container .wpforms-field-container textarea {
    background-color: var(--navigation);
    color: var(--foreground);
    border: 1px solid #c9dddd;
}

.wpforms-container .wpforms-field-container textarea:active,
.wpforms-container .wpforms-field-container textarea:focus {
    color: var(--foreground);
    border: 1px solid #c9dddd;
}

.darkmode .wpforms-container .wpforms-field-container textarea {
    border: 1px solid #004154;
}


.wpforms-submit-container button#wpforms-submit-111 {
    background-color: var(--foreground);
    color: var(--background);
}

.wpforms-container input.wpforms-field-medium,
.wpforms-container select.wpforms-field-medium,
.wpforms-container .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
}

div.wpforms-container-full .wpforms-field-sublabel {
    color: #5e5d5d;
}

.darkmode div.wpforms-container-full .wpforms-field-sublabel {
    color: #817c7c;
}

.contact-wrap {
    max-width: 1200px;
    margin-inline: auto;
}