.hero-section {
    background-image: url(../images/hero-team.jpg);
    background-size: cover;
    background-position: 53% 3%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.hero-section .text-wrap {
    background-color: #000000be;
    color: #eff4f5;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
}

.hero-section h1 {
    font-size: 5rem;
    line-height: normal;
    font-family: "Space Mono", monospace;
}

.hero-section p {
    font-size: 1.5rem;
}

.hero-section .text-wrap button.effect.light{
    background-color: #eff4f5;
    margin-top: 1rem;
}

.hero-section .text-wrap button.effect.light:hover{
    color: #eff4f5;
}

@media only screen and (max-width: 900px) {

    .hero-section h1 {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 600px) {

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {

    .hero-section .text-wrap {
        padding: 1rem;
    }

}


/* --------Intro------- */

.intro-section {
    max-width: 900px;
    padding: 2rem 1rem;
    margin-inline: auto;
    text-align: center;
    font-size: 1.2rem;
}

/* .intro-section .stats-wrapper{
    padding-block: 2rem;
    display: flex;
    justify-content: space-around;
}

.intro-section .stat{
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
} */

/* -------Classes------ */


.class-section {
    max-width: 900px;
    padding: 1rem;
    margin-inline: auto;
    text-align: center;
}

.class-section h2 {
    font-size: 2.5rem;
    text-align: center;
}

.class-section .classes-contain {
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.class-section .classes-contain .contain-list {
    width: 80%;
    text-align: justify;
}

.class-section ul {
    list-style-position: inside;
}

.class-section li {
    list-style-type: square;
    font-size: 1.2rem;
    margin-block: 0.5rem;
}

.class-section .stat {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.class-section .stat i {
    font-size: 4rem;
}

.class-section p.inline {
    display: inline;
}




@media only screen and (max-width: 750px) {

    .class-section .classes-contain {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
    }

    .class-section .classes-contain .contain-list {
        width: 100%;
    }

    .class-section .classes-contain .stats-wrapper {
        display: flex;
    }

}

@media only screen and (max-width: 610px) {

    .class-section .stat {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}


/* -------Meet The Team------ */

.team-section {
    max-width: 900px;
    padding: 1rem;
    margin-inline: auto;
    margin-block: 3rem;
    text-align: center;
}

.team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.team-section img {
    max-height: 380px;
    width: 800px;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 1rem;
    border: 1px solid var(--navigation);
    margin-bottom: 1rem;
}

.team-section button {
    margin-block: 2rem;
}

/* -------Help Center------- */

.help-section {
    padding: 1rem;
    margin-bottom: 3rem;
}

.help-section .help-wrap {
    max-width: 600px;
    margin-inline: auto;
    border: 1px solid var(--background);
    border-radius: 1rem;
    background: rgb(4, 18, 20);
    background: var(--gradient);
    /* background-color: var(--navigation); */
    padding: 1rem;
    box-shadow: 3px 2px 5px var(--foreground);
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
}

.help-section .help-wrap h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.help-section .help-wrap ul {
    margin-bottom: 0.5rem;
}

.help-section .help-wrap i {
    font-size: 6rem;
    color: linear-gradient(138deg, rgba(4, 18, 20, 1) 0%, rgba(0, 0, 0, 1) 60%);;
}

.help-section .help-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 430px) {

    .help-section .help-wrap h2 {
        font-size: 2rem;
    }

    .help-section .help-container button{
        order: 1;
    }

}

/* -------Reviews------- */

.reviews-section {
    background-color: var(--third);
    color: var(--secondary);
    text-align: center;
    font-size: 2rem;
    padding-block: 1rem 0;
}

.container-review {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    padding: 0 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.review {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
}

.review .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.review .rating {
    font-size: 1.5rem;
}

.review .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary);
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
}

.details .job {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: var(--secondary);
}

.review-content {
    position: relative;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* transform: translateY(30px); */
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 999;
    background-color: #ccd7c558;
}

.swiper-button-next {
    right: 0;
}

.nav-btn:hover {
    background-color: #ccd7c582;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: var(--secondary);
    ;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding-inline: 50px;
    }

}